<h1>Flights Index Page</h1>

<ul>
    <% @flights.each do |flight| %>
        <div id="flight-<%= flight.id %>">
            <li>Flight number <%= flight.number %> for <%= flight.airline.name %> airline</li>
            <ul>
                <% flight.passengers.each do |passenger| %>
                    <li><%= passenger.name %> - <%= button_to "Remove from Flight", "/flight_passengers/#{flight.id}/#{passenger.id}", method: :delete, local: true %> </li>
                <% end %>
            </ul>
        </div>
    <% end %>
</ul>